<div>
    <h3>Current Post:</h3>

    <h2 class="title">{{title}}</h2>
    <p class="description">{{description}}</p>
    <div>
        <div class="col-md-6 project-list">
            
            <h3>comments:</h3>
            {{#each comments}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <div>@{{user.user}}</div>
                    <p>{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="comment">
    <form action="/form/submit" method="POST">
      <textarea class="comment"></textarea>
      <br>
    </form>
    <button class="add-comment" id="add-comment">Comment</button>
</div>



<script src="/js/comments.js"></script>
