<div>
    <h3 class="current-post col-md-12">Current Post:</h3>

    <h2 class="title col-md-12">{{title}}</h2>
    <p class="description col-md-12">{{description}}</p>
    <div>
        <div class="col-md-12 project-list">

            <h3>comments:</h3>
            {{#each comments}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <div>@{{user.user}}</div>
                    <p>{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="comment ">
    <form action="/form/submit" method="POST">
        <textarea class="comment col-md-2"></textarea>
        <br>
    </form>
    <button class="add-comment" id="add-comment">Comment</button>
</div>



<script src="/js/comments.js"></script>