<div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    
    <p> {{comments.description}}</p>
    <button class="del-btn" data-id="{{id}}">Delete</button>
</div>

<script src="/js/dashboard.js"></script>